<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<nav>
    <h1>QR Code System</h1>
    <a href="/signup">Signup</a>
</nav>

<h2>Login</h2>

<form action="/login" method="POST">
    <label>Email:</label>
    <input type="email" name="email" placeholder="Enter Email" required>

    <label>Password:</label>
    <input type="password" name="password" id="password" placeholder="Enter Password" required>
    
    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="/signup">Signup Here</a></p>

<footer>
    Made by ❤️ Dipika
</footer>

<script src="/static/js/script.js"></script>

</body>
</html>
